In [2]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url,sep ='\t')
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [ ]:
chipo.columns
#chipo.shape[1]

In [ ]:
chipo.index

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending =False)
c

In [13]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [16]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [21]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))
chipo.item_price.dtype

dtype('float64')

In [24]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
revenue

39237.02

In [31]:
chipo.order_id.value_counts().count()

1834

In [40]:
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [42]:
chipo.item_name.value_counts().count()

50